<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Info:</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div id="container">
        <div id="row">
            <div id="sub_form">
                <h1>Submitted Info:</h1>
                <br>
                <p>Name: @ViewBag.Name</p>
                <br>
                <p>Dojo Location: @ViewBag.Location</p>
                <br>
                <p>Favorite Language: @ViewBag.Language</p>
                <br>
                <p>Comments: @ViewBag.Comments</p>
                <br>
                <form action="/" method="" target="">
                    <button type="submit">Go Back</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>